/*
 *
 * Main stylesheet for Switchery.
 * http://abpetkov.github.io/switchery/
 *
 */

/* Switchery defaults. */

.switchery {
	background-color: #fff;
	border: 1px solid #dfdfdf;
	border-radius: 20px;
	cursor: pointer;
	display: inline-block;
	height: 18px;
	position: relative;
	vertical-align: middle;
	width: 35px;

	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing: content-box;
	background-clip: content-box;
}

.switchery > small {
	background: #fff;
	border-radius: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	height: 18px;
	position: absolute;
	top: 0;
	width: 18px;
}

/* Switchery sizes. */

.switchery-small {
	border-radius: 20px;
	height: 13px;
	width: 25px;
}

.switchery-small > small {
	height: 13px;
	width: 13px;
}

.switchery-large {
	border-radius: 30px;
	height: 30px;
	width: 50px;
}

.switchery-large > small {
	height: 30px;
	width: 30px;
}
