@import "../_variables";





// BODY
//============================================
$body-bg                    : #ecf0f5;
$body-color					: #758697;
$boxed-bg                   : #70899a;
$text-muted                 : lighten($body-color, 20%);




// GENERAL COMPONENTS
//============================================
$state-active-bg            : #00bcd4;
$state-active-color         : #fff;

$selection-bg			    : $state-active-bg;
$selection-color			: $state-active-color;




// CLEAN ZONE (LOGIN, REGISTER, AND ERROR PAGES CONTAINER)
//============================================
$cls-bg                     : $body-bg;
$cls-color                  : darken($body-color, 7%);




// NAVIGATION
//============================================
$mainnav-bg                 : #f1f4f7;
$mainnav-color              : #3f6085;
$mainnav-hover-color        : #2b425b;
$mainnav-active-bg          : #000000;
$mainnav-active-color       : #2b425b;
$mainnav-active-state       : $state-active-bg;




// NAVBAR & LOGO
//============================================
$navbar-bg                  : #fff;
$navbar-color               : #515151;
$brand-bg                   : transparent;
$brand-bg-overlay           : $navbar-bg;
$brand-color                : $mainnav-hover-color;
$brand-color-overlay        : $brand-color;




// ASIDE
//============================================
$aside-dark-bg              : #3A3F46;
$aside-dark-color           : #fff;
$aside-bright-bg            : #fff;
$aside-bright-color         : #515151;




// TIMELINE
//============================================
$timeline-bg                : $body-bg;
$timeline-color             : $body-color;
$timeline-border-color		: lighten($body-color, 25%);




// FOOTER
//============================================
$footer-bg                  : lighten($body-bg, 2%);
$footer-color               : $body-color;
