/*
* Fallr v2.0.1
* Simple & elegant modal box jQuery plugin
*
* Copyright 2011-2014 amatyr4n
* http://codecanyon.net/user/amatyr4n?ref=amatyr4n
*
* licensed under Envato licenses
* http://wiki.envato.com/support/legal-terms/licensing-terms/
*/

#fallr-overlay {
   display: none;
   position: fixed;
   left: 0;
   top: 0;
   background: #333;
   height: 100%;
   width: 100%;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
   filter: alpha(opacity=50);
   opacity: 0.5;
}

#fallr-wrapper,
#fallr-wrapper * {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-family: Helvetica, Ubuntu, Arial, sans-serif;
   font-size: 13px;
   font-weight: normal;
   line-height: 19px;
   color: #555;
   text-shadow: 1px 1px 1px #fff;
   vertical-align: baseline;
   -webkit-font-smoothing: antialiased;
}

#fallr-wrapper {
   position: fixed;
   overflow: hidden;
   background: #f0f0f0;
   border: 1px solid #fff;
   box-shadow: 0 1px 10px #333;
   -moz-box-shadow: 0 1px 10px #333;
   -webkit-box-shadow: 0 1px 10px #333;
   box-shadow: 0 1px 10px rgba(32, 32, 32, 0.5);
   -moz-box-shadow: 0 1px 10px rgba(32, 32, 32, 0.5);
   -webkit-box-shadow: 0 1px 10px rgba(32, 32, 32, 0.5);
}

#fallr-icon {
   position: absolute;
   top: 35px;
   left: 20px;
   height: 64px;
   width: 64px;
   background-position: 0 0;
   background-repeat: no-repeat;
}

#fallr {
   position: relative;
   padding: 40px 20px 20px 72px;
   width: 100% !important;
}

#fallr-buttons {
   position: relative;
   bottom: 0;
   right: 0;
   margin: 0 15px 15px 15px;
   clear: both;
   display: block;
   text-align: right;
}

/*  Github button style
   http://nicolasgallagher.com/lab/css3-github-buttons/
*/

#fallr-wrapper .fallr-button,
#fallr button,
#fallr input[type="submit"] {
   position: relative;
   overflow: visible;
   display: inline-block;
   padding: 4px 15px;
   border: 1px solid #d4d4d4;
   margin-left: 10px;
   margin-top: 10px;
   text-decoration: none;
   text-shadow: 1px 1px 0 #fff;
   white-space: nowrap;
   cursor: pointer;
   background-color: #ececec;
   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
   background-image: -moz-linear-gradient(#f4f4f4, #ececec);
   background-image: -o-linear-gradient(#f4f4f4, #ececec);
   background-image: linear-gradient(#f4f4f4, #ececec);
   -webkit-background-clip: padding;
   -moz-background-clip: padding;
   -o-background-clip: padding-box;
   border: 1px solid rgba(0, 0, 0, .25);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   box-shadow: 0 0 0 transparent;
   -moz-box-shadow: 0 0 0 transparent;
   -webkit-box-shadow: 0 0 0 transparent;
   transition: box-shadow .3s linear;
   -moz-transition: box-shadow .3s linear;
   -webkit-transition: box-shadow .3s linear;
}

#fallr-wrapper .fallr-button:hover,
#fallr-wrapper .fallr-button:focus,
#fallr button:hover,
#fallr button:focus,
#fallr input[type="submit"]:hover,
#fallr input[type="submit"]:focus {
   border-color: #3072b3;
   border-bottom-color: #2a65a0;
   text-decoration: none;
   text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
   color: #fff;
   cursor: default;
   background-color: #3C8DDE;
   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
   background-image: -moz-linear-gradient(#599bdc, #3072b3);
   background-image: -o-linear-gradient(#599bdc, #3072b3);
   background-image: linear-gradient(#599bdc, #3072b3);
   box-shadow: 0 0 3px rgba(50, 50, 50, 0.3);
   -moz-box-shadow: 0 0 3px rgba(50, 50, 50, 0.3);
   -webkit-box-shadow: 0 0 3px rgba(50, 50, 50, 0.3);
   transition: box-shadow .3s linear;
   -moz-transition: box-shadow .3s linear;
   -webkit-transition: box-shadow .3s linear;
}

#fallr-wrapper .fallr-button.fallr-button-danger {
   color: #900;
}

#fallr-wrapper .fallr-button.fallr-button-danger:hover,
#fallr-wrapper .fallr-button.fallr-button-danger:focus {
   border-color: #b53f3a;
   border-bottom-color: #a0302a;
   color: #fff;
   background-color: #dc5f59;
   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dc5f59), to(#b33630));
   background-image: -moz-linear-gradient(#dc5f59, #b33630);
   background-image: -o-linear-gradient(#dc5f59, #b33630);
   background-image: linear-gradient(#dc5f59, #b33630);
}

#fallr abbr {
   border-bottom: 1px dotted #333;
}

#fallr h1,
#fallr h2,
#fallr h3,
#fallr h4,
#fallr h5,
#fallr h6,
#fallr p,
#fallr form,
#fallr input,
#fallr label {
   margin-bottom: 10px;
}

#fallr h3 {
   font-size: 30px;
   line-height: 45px;
}

#fallr h4 {
   font-size: 25px;
   line-height: 37px;
}

#fallr h5 {
   font-size: 20px;
   line-height: 30px;
}

#fallr input[type="text"],
#fallr input[type="password"],
#fallr textarea {
   background: #fff;
   border: solid 1px #999;
   color: #777;
   padding: 5px;
   width: 97%;
   box-shadow: inset #bbb 0px 0px 5px;
   -moz-box-shadow: inset #bbb 0px 0px 5px;
   -webkit-box-shadow: inset #bbb 0px 0px 5px;
   transition: all .3s linear;
   -moz-transition: all .3s linear;
   -webkit-transition: all .3s linear;
}

#fallr input[type="text"]:focus,
#fallr input[type="password"]:focus,
#fallr textarea:focus {
   box-shadow: inset #7bbdfe 0px 0px 7px;
   -moz-box-shadow: inset #7bbdfe 0px 0px 7px;
   -webkit-box-shadow: inset #7bbdfe 0px 0px 7px;
   transition: all .3s linear;
   -moz-transition: all .3s linear;
   -webkit-transition: all .3s linear;
}

#fallr ol li,
#fallr ul li,
#fallr blockquote,
#fallr q {
   margin-left: 20px;
}

#fallr table {
   border: 1px solid #ddd;
   border-collapse:collapse;
   border-spacing: 0;
   line-height: 1.35em;
   width: 100%;
}

#fallr th,
#fallr td {
   padding: 10px;
}

#fallr th {
   background-color: #cecece;
   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ececec), to(#cecece));
   background-image: -moz-linear-gradient(#ececec, #cecece);
   background-image: -o-linear-gradient(#ececec, #cecece);
   background-image: linear-gradient(#ececec, #cecece);
}

/* custom icons */

.ficon-calendar {
   background: url('../img/fallr/calendar.png');
}

.ficon-chat {
   background: url('../img/fallr/chat.png');
}

.ficon-check {
   background: url('../img/fallr/check.png');
}

.ficon-config {
   background: url('../img/fallr/wrench.png');
}

.ficon-error {
   background: url('../img/fallr/error.png');
}

.ficon-pen {
   background: url('../img/fallr/pen.png');
}

.ficon-help {
   background: url('../img/fallr/help.png');
}

.ficon-info {
   background: url('../img/fallr/info.png');
}

.ficon-lamp {
   background: url('../img/fallr/lamp.png');
}

.ficon-mail {
   background: url('../img/fallr/mail.png');
}

.ficon-photo {
   background: url('../img/fallr/camera.png');
}

.ficon-secure {
   background: url('../img/fallr/unlock.png');
}

.ficon-trash {
   background: url('../img/fallr/trash.png');
}

.ficon-user {
   background: url('../img/fallr/user.png');
}

.ficon-up {
   background: url('../img/fallr/up.png');
}

.ficon-down {
   background: url('../img/fallr/down.png');
}

.ficon-left {
   background: url('../img/fallr/left.png');
}

.ficon-right {
   background: url('../img/fallr/right.png');
}

.ficon-at {
   background: url('../img/fallr/at.png');
}

.ficon-bar {
   background: url('../img/fallr/bars.png');
}

.ficon-book {
   background: url('../img/fallr/book.png');
}

.ficon-chart {
   background: url('../img/fallr/chart.png');
}

.ficon-clock {
   background: url('../img/fallr/clock.png');
}

.ficon-gear {
   background: url('../img/fallr/cog.png');
}

.ficon-document {
   background: url('../img/fallr/document.png');
}

.ficon-folder {
   background: url('../img/fallr/folder.png');
}

.ficon-heart {
   background: url('../img/fallr/heart.png');
}

.ficon-home {
   background: url('../img/fallr/home.png');
}

.ficon-key {
   background: url('../img/fallr/key.png');
}

.ficon-magnifier {
   background: url('../img/fallr/magnifier.png');
}

.ficon-pin {
   background: url('../img/fallr/pin.png');
}

.ficon-minus {
   background: url('../img/fallr/minus.png');
}

.ficon-window {
   background: url('../img/fallr/window.png');
}

.ficon-plus {
   background: url('../img/fallr/plus.png');
}

.ficon-reload {
   background: url('../img/fallr/reload.png');
}

.ficon-quote {
   background: url('../img/fallr/quote.png');
}

.ficon-star {
   background: url('../img/fallr/star.png');
}

.ficon-tag {
   background: url('../img/fallr/tag.png');
}
